# E-Commerce Analysis

In [3]:
import pandas as pd
import numpy as np
orders=pd.read_csv('/content/drive/MyDrive/Data Analysis/E-Commerce Sales/olist_orders_dataset.csv')
order_items=pd.read_csv('/content/drive/MyDrive/Data Analysis/E-Commerce Sales/olist_order_items_dataset.csv')
order_payments=pd.read_csv('/content/drive/MyDrive/Data Analysis/E-Commerce Sales/olist_order_payments_dataset.csv')
order_reviews=pd.read_csv('/content/drive/MyDrive/Data Analysis/E-Commerce Sales/olist_order_reviews_dataset.csv')
products=pd.read_csv('/content/drive/MyDrive/Data Analysis/E-Commerce Sales/olist_products_dataset.csv')
sellers=pd.read_csv('/content/drive/MyDrive/Data Analysis/E-Commerce Sales/olist_sellers_dataset.csv')
customers=pd.read_csv('/content/drive/MyDrive/Data Analysis/E-Commerce Sales/olist_customers_dataset.csv')
product_category=pd.read_csv('/content/drive/MyDrive/Data Analysis/E-Commerce Sales/product_category_name_translation.csv')

In [4]:
orders.info()
orders.isna().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 8 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   order_id                       99441 non-null  object
 1   customer_id                    99441 non-null  object
 2   order_status                   99441 non-null  object
 3   order_purchase_timestamp       99441 non-null  object
 4   order_approved_at              99281 non-null  object
 5   order_delivered_carrier_date   97658 non-null  object
 6   order_delivered_customer_date  96476 non-null  object
 7   order_estimated_delivery_date  99441 non-null  object
dtypes: object(8)
memory usage: 6.1+ MB

order_id                            0
customer_id                         0
order_status                        0
order_purchase_timestamp            0
order_approved_at                 160
order_delivered_carrier_date     1783
order_delivered_customer_date    2965
order_estimated_delivery_date       0
dtype: int64

In [5]:
orders['delivery_status']=orders['order_delivered_customer_date'].notnull().map({True:'Delivered',False:'Not Delivered'})
orders.head(5)

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,delivery_status
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,Delivered
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00,Delivered
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04 00:00:00,Delivered
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15 00:00:00,Delivered
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26 00:00:00,Delivered

In [7]:
orders.info()
fix_cols=['order_delivered_carrier_date','order_delivered_customer_date','order_estimated_delivery_date','order_purchase_timestamp','order_approved_at']
for cols in fix_cols:
  orders[cols]=pd.to_datetime(orders[cols],errors='coerce')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 9 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   order_id                       99441 non-null  object
 1   customer_id                    99441 non-null  object
 2   order_status                   99441 non-null  object
 3   order_purchase_timestamp       99441 non-null  datetime64[ns]
 4   order_approved_at              99281 non-null  datetime64[ns]
 5   order_delivered_carrier_date   97658 non-null  datetime64[ns]
 6   order_delivered_customer_date  96476 non-null  datetime64[ns]
 7   order_estimated_delivery_date  99441 non-null  datetime64[ns]
 8   delivery_status                99441 non-null  object
dtypes: datetime64[ns](5), object(4)
memory usage: 6.8+ MB

In [9]:
order_reviews.info()
order_reviews.isna().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99224 entries, 0 to 99223
Data columns (total 7 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   review_id                99224 non-null  object
 1   order_id                 99224 non-null  object
 2   review_score             99224 non-null  int64
 3   review_comment_title     11568 non-null  object
 4   review_comment_message   40977 non-null  object
 5   review_creation_date     99224 non-null  datetime64[ns]
 6   review_answer_timestamp  99224 non-null  datetime64[ns]
dtypes: datetime64[ns](2), int64(1), object(4)
memory usage: 5.3+ MB

review_id                      0
order_id                       0
review_score                   0
review_comment_title       87656
review_comment_message     58247
review_creation_date           0
review_answer_timestamp        0
dtype: int64

In [8]:
order_reviews.info()
fix_col=['review_creation_date','review_answer_timestamp']
for col in fix_col:
  order_reviews[col]=pd.to_datetime(order_reviews[col],errors='coerce')
order_reviews.dtypes

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99224 entries, 0 to 99223
Data columns (total 7 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   review_id                99224 non-null  object
 1   order_id                 99224 non-null  object
 2   review_score             99224 non-null  int64
 3   review_comment_title     11568 non-null  object
 4   review_comment_message   40977 non-null  object
 5   review_creation_date     99224 non-null  object
 6   review_answer_timestamp  99224 non-null  object
dtypes: int64(1), object(6)
memory usage: 5.3+ MB

review_id                          object
order_id                           object
review_score                        int64
review_comment_title               object
review_comment_message             object
review_creation_date       datetime64[ns]
review_answer_timestamp    datetime64[ns]
dtype: object

In [ ]:
sellers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3095 entries, 0 to 3094
Data columns (total 4 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   seller_id               3095 non-null   object
 1   seller_zip_code_prefix  3095 non-null   int64
 2   seller_city             3095 non-null   object
 3   seller_state            3095 non-null   object
dtypes: int64(1), object(3)
memory usage: 96.8+ KB

In [10]:
orders['delivery_date_missing'] = (
    (orders['order_status'] == 'delivered') & (orders['order_delivered_customer_date'].isna())
)

In [11]:
orders['delivery_date_missing'].value_counts()

delivery_date_missing
False    99433
True         8
Name: count, dtype: int64

In [ ]:
orders[orders['order_delivered_customer_date'] < orders['order_purchase_timestamp']]

Empty DataFrame
Columns: [order_id, customer_id, order_status, order_purchase_timestamp, order_approved_at, order_delivered_carrier_date, order_delivered_customer_date, order_estimated_delivery_date, delivery_status]
Index: []

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,delivery_status
count,99441,99441,99441,99441,99281,97658,96476,99441,99441
unique,99441,99441,8,NaN,NaN,NaN,NaN,NaN,2
top,66dea50a8b16d9b4dee7af250b4be1a5,edb027a75a1449115f6b43211ae02a24,delivered,NaN,NaN,NaN,NaN,NaN,Delivered
freq,1,1,96478,NaN,NaN,NaN,NaN,NaN,96476
mean,NaN,NaN,NaN,2017-12-31 08:43:12.776581120,2017-12-31 18:35:24.098800128,2018-01-04 21:49:48.138278656,2018-01-14 12:09:19.035542272,2018-01-24 03:08:37.730111232,NaN
min,NaN,NaN,NaN,2016-09-04 21:15:19,2016-09-15 12:16:38,2016-10-08 10:34:01,2016-10-11 13:46:32,2016-09-30 00:00:00,NaN
25%,NaN,NaN,NaN,2017-09-12 14:46:19,2017-09-12 23:24:16,2017-09-15 22:28:50.249999872,2017-09-25 22:07:22.249999872,2017-10-03 00:00:00,NaN
50%,NaN,NaN,NaN,2018-01-18 23:04:36,2018-01-19 11:36:13,2018-01-24 16:10:58,2018-02-02 19:28:10.500000,2018-02-15 00:00:00,NaN
75%,NaN,NaN,NaN,2018-05-04 15:42:16,2018-05-04 20:35:10,2018-05-08 13:37:45,2018-05-15 22:48:52.249999872,2018-05-25 00:00:00,NaN
max,NaN,NaN,NaN,2018-10-17 17:30:18,2018-09-03 17:40:06,2018-09-11 19:48:28,2018-10-17 13:22:46,2018-11-12 00:00:00,NaN

In [ ]:
import os
output_dir = r'A:\Data Analysis\E-Commerce Sales\cleaned datasets'
os.makedirs(output_dir, exist_ok=True)

In [ ]:
customers.to_csv(os.path.join(output_dir, "customers_cleaned.csv"), index=False)
orders.to_csv(os.path.join(output_dir, "orders_cleaned.csv"), index=False)
order_items.to_csv(os.path.join(output_dir, "order_items_cleaned.csv"), index=False)
order_payments.to_csv(os.path.join(output_dir, "order_payments_cleaned.csv"), index=False)
order_reviews.to_csv(os.path.join(output_dir, "order_reviews_cleaned.csv"), index=False)
products.to_csv(os.path.join(output_dir, "products_cleaned.csv"), index=False)
sellers.to_csv(os.path.join(output_dir, "sellers_cleaned.csv"), index=False)
product_category.to_csv(os.path.join(output_dir, "category_translation_cleaned.csv"), index=False)